@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">Name: </h1>
    <img src="image/pic.png" height="200px" width="150px" >
    <p> Course: Mobile Solution Development <br> Student ID: 8829569 <br> College Email ID: 9569@conestogac.on.ca <br> Hi, I am a 2021 graduate of B.Tech in I.T. from IP University. Please hire me lol. </p>
</div>
